html,
body {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Fragment Mono";
    display: flex;
    flex-direction: column;
}

#images-container {
    flex: 1;
    display: flex;
    padding: 8px;
}

#images-container>* {
    border: 1px solid gray;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image,
#cropped {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

#crop-area {
    position: absolute;
}

.crop-point {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#crop-coords {
    fill: #00F4;
}

#info-container {
    padding: 8px;
    padding-top: 0;
}

#image-form,
#aspect-ratio-container {
    display: flex;
}

#image-upload {
    overflow: hidden;
}

input {
    font-family: "Fragment Mono";
}

#aspect-ratio-container {
    visibility: hidden;
}

#aspect-ratio-container>* {
    flex: 1;
}

@media only screen and (orientation: landscape) {

    body {
        height: 100vh;
    }

    #images-container>:first-child {
        margin-right: 8px;
    }

    #info-container {
        display: flex;
    }

    #image-form,
    #aspect-ratio-container {
        flex: 1;
    }

    #image-form>* {
        flex: 1;
    }
}

@media only screen and (orientation: portrait) {

    body {
        height: 86vh;
        font-size: 14px;
    }

    #images-container {
        flex-direction: column;
    }

    #images-container>:first-child {
        margin-bottom: 8px;
    }

    #image-form {
        justify-content: space-between;
        margin-bottom: 4px;
    }

    input {
        font-size: 12px;
    }
}